<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paper.demo.mapper.ExamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.paper.demo.model.domain.Exam">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="record_id1" property="recordId1" />
        <result column="record_id2" property="recordId2" />
        <result column="record_id3" property="recordId3" />
        <result column="record_id4" property="recordId4" />
        <result column="record_id5" property="recordId5" />
        <result column="record_id6" property="recordId6" />
        <result column="record_id7" property="recordId7" />
        <result column="record_id8" property="recordId8" />
        <result column="record_id9" property="recordId9" />
        <result column="record_id10" property="recordId10" />
    </resultMap>

</mapper>
